footer {
    background: #131212;
    padding: 2rem;
}

.footer-content-wrap, .lower-footer-content ul {
    display: flex;
    width: 84%;
    margin: 0 auto;
    justify-content: space-between;
}

.footer-content-wrap ul, .lower-footer-content ul {
    list-style: none;
}

.footer-content-wrap ul li, .lower-footer-content ul li {
    font-size: 0.8rem;
    color: #a8a8a8;
}

.lower-footer-content, .lower-footer-content ul {
    padding-top: 2rem;
}

.lower-footer-content ul {
    border-top: 1px solid #7a7a7a;
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
    .footer-content-wrap, .lower-footer-content ul {
        flex-direction: column;
        width: 90%;
    }

    .footer-content-wrap ul li, .lower-footer-content ul li {
        font-size: 0.7rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .footer-content-wrap, .lower-footer-content ul {
        flex-direction: column;
        width: 90%;
    }

    .footer-content-wrap ul li, .lower-footer-content ul li {
        font-size: 0.75rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .footer-content-wrap, .lower-footer-content ul {
        flex-direction: row;
        width: 84%;
    }

    .footer-content-wrap ul li, .lower-footer-content ul li {
        font-size: 0.8rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .footer-content-wrap, .lower-footer-content ul {
        flex-direction: row;
        width: 84%;
    }

    .footer-content-wrap ul li, .lower-footer-content ul li {
        font-size: 0.8rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .footer-content-wrap, .lower-footer-content ul {
        flex-direction: row;
        width: 84%;
    }

    .footer-content-wrap ul li, .lower-footer-content ul li {
        font-size: 0.8rem;
    }
}
