.Navbar-items,.Navbar{
    display: flex;
}
.Navbar{
    justify-content: space-between;
    background-color: #29292b;
    padding: 1.1rem 5rem;
}
.logoImage{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.logoI{
    width: 1.4rem;
    height: 1.4rem;

}
.Navbar-items{
    gap: 20px;
    list-style: none;
}
.Navbar-items li{
    color: #e6e6e6;
    cursor: pointer;
}
.mobileBars{
    display: none;
    cursor: pointer;
}

/* media query for small screens */
@media only screen and (max-width: 768px) {
    .Navbar{
        justify-content: space-between;
        background-color: #29292b;
        padding: 1.1rem 1.4rem;
    }
    .Navbar-items{
        display: none;
    }
    .mobileBars{
        display: flex;
    }
}