.Navbar-items,.Navbar{
    display: flex;
}
.Navbar{
    justify-content: space-between;
    background-color: #29292b;
    padding: 1.1rem 5rem;
}
.logoImage{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.logoI{
    width: 1.4rem;
    height: 1.4rem;

}
.Navbar-items{
    gap: 20px;
    list-style: none;
}
.Navbar-items li{
    color: #e6e6e6;
    cursor: pointer;
}
.mobileBars{
    display: none;
    cursor: pointer;
}

/* mobile navbar */

body.no-scroll { 
    overflow: hidden; 
}

.MobileNavbar {
    display: flex;
    flex-direction: column;
    position: fixed; 
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); 
    color: white;
    z-index: 1000; 
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    display: none;
  }
  .MobileNavbar li {
    /* padding: 1em; */
    text-align: center;
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 1.2rem;
  }
  
/* media query for small screens */
@media only screen and (max-width: 768px) {
    .Navbar{
        justify-content: space-between;
        background-color: #29292b;
        padding: 1.1rem 1.4rem;
    }
    .Navbar-items{
        display: none;
    }
    .mobileBars{
        display: flex;
    }
}