.about-section {
    padding: 5rem 0;
}

.title, .subtitle {
    text-align: center;
}

.aboutUs_wrapper {
    margin: 0 auto;
    width: 84%;
    padding: 2rem;
    height: 70vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 20px;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-text {
    padding: 2rem;
    border-radius: 15px;
    background: rgba(54, 54, 54, 0.2);
    backdrop-filter: blur(10px) saturate(200%);
    -webkit-backdrop-filter: blur(10px) saturate(200%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #e0e0e0;
    height: fit-content;
}

.about-text p {
    margin-top: 1.2rem;
    color: #b4b4b4;
    font-size: 0.8rem;
}

.about-callToAction button {
    background-color: #000000;
    margin-top: 2rem;
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
    .aboutUs_wrapper {
        width: 95%;
        grid-template-columns: 1fr;
        height: auto;
        padding: 1rem;
    }

    .imageContainer img {
        height: auto;
    }

    .about-text {
        padding: 1rem;
    }

    .about-text p {
        font-size: 0.7rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .aboutUs_wrapper {
        width: 90%;
        grid-template-columns: 1fr;
        height: auto;
        padding: 1.5rem;
    }

    .imageContainer img {
        height: auto;
    }

    .about-text {
        padding: 1.5rem;
    }

    .about-text p {
        font-size: 0.75rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .aboutUs_wrapper {
        width: 84%;
        grid-template-columns: 0.5fr 1fr;
        height: auto;
        padding: 2rem;
    }

    .imageContainer img {
        height: 100%;
    }

    .about-text {
        padding: 2rem;
    }

    .about-text p {
        font-size: 0.8rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .aboutUs_wrapper {
        width: 84%;
        grid-template-columns: 0.5fr 1fr;
        height: 70vh;
        padding: 2rem;
    }

    .imageContainer img {
        height: 100%;
    }

    .about-text {
        padding: 2rem;
    }

    .about-text p {
        font-size: 0.8rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .aboutUs_wrapper {
        width: 84%;
        grid-template-columns: 0.5fr 1fr;
        height: 70vh;
        padding: 2rem;
    }

    .imageContainer img {
        height: 100%;
    }

    .about-text {
        padding: 2rem;
    }

    .about-text p {
        font-size: 0.8rem;
    }
}
