.coursesSection{
    margin-top: 10rem;
    width: 100%;
    height: fit-content;
}
.cards{
    width: 80%;
    display: flex;
    margin: 0 auto;
    gap: 20px;
    padding-top: 2rem;
}

.card-img{
    width: 100%;
    height: 180px;
}
.card-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.coursesSection h2{
    font-size: 2rem;
    text-align: center;
}
.coursesSection p{
    text-align: center;
    font-size: 0.8rem;
    color: #c0c0c0;
}
.card-body{
    padding: 1.2rem 0rem;
}
.card-body h4{
    font-weight: 200;
    font-size: 16px;
    color: #bdbdbd;
}
.card-body h3{
    color: #bdbdbd;
    font-weight: 500;
}
.card-body .price{
    color: #b9b9b9;
}
.enrol-container{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.card{
    background: #ffffff;
    padding: 0.5rem;
    border-radius: 10px;
    background: rgba(54, 54, 54, 0.2); 
    backdrop-filter: blur(10px)saturate(200%); 
    -webkit-backdrop-filter: blur(10px) saturate(200%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #e0e0e0;
}
.moreBtn-wrap{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.moreBtn-wrap button{

}