.reasons-wrap {
    padding: 5rem 0;
  }
  .reasons-wrap h2{
    text-align: center;
  }
  .reasons-cards {
    width: 84%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #fff;
    gap: 10px;
  }
  
  .reason-card {
    border-radius: 10px;
    background: rgba(54, 54, 54, 0.2); 
    backdrop-filter: blur(10px)saturate(200%); 
    -webkit-backdrop-filter: blur(10px) saturate(200%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 5px;
  }
  
  .card-icon {
    font-size: 1.5rem;
    display:flex;
    gap: 0.6rem;
    padding-left: 10px;
    color: #00d300;
  }
  .card-icon h4{
    font-size: 1.2rem;
    color: #d8d8d8;
    
  }
  
  .card-body-wrap{
    padding: 10px;
  }
  .card-body-wrap p{
    font-size: 0.8rem;
    color: #999999;
  }
  .text-button{
    font-size: 0.8rem;
  }
  .btn-wrapper{
    display: flex;
    justify-self: end;
    gap: 10px;
    align-items: center;
  }

  
/* Extra small devices (phones, less than 576px) */
 @media (max-width: 575.98px) { 
  .reasons-cards {
    width: 94%;
    grid-template-columns: repeat(1, 1fr);
  }
}
/* Small devices (landscape phones, 576px and up) */ 
@media (min-width: 576px) and (max-width: 767.98px) { 
  .reasons-cards {
    width: 84%;
    grid-template-columns: repeat(2, 1fr);
  }
} 

/* Medium devices (tablets, 768px and up) */ 
@media (min-width: 768px) and (max-width: 991.98px) { 
  .reasons-cards {
    width: 84%;
    grid-template-columns: repeat(3, 1fr);
  }
} 
/* Large devices (desktops, 992px and up) */ 
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .reasons-cards {
    width: 84%;
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Extra large devices (large desktops, 1200px and up) */ 
@media (min-width: 1200px) { 
  .reasons-cards {
    width: 84%;
    grid-template-columns: repeat(3, 1fr);
  }
}
